body{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    
    /* background-image: url('../images/back4.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-position: center center; */
    /* background-color: blue; */
    /* color: black; */
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    /* text-align: center; */
}

            /* navbar */
 
 
            /* navabar */
            header {
                /* background: #f5b335; */
                /* height: 40px; */
                /* margin-bottom: 50px; */
                z-index: 2;
                position: fixed;
                top: 0;
                transition: top 0.2s ease-in-out;
                width: 100%;
            }
            
            .nav-up {
                top: -50px;
            }
            
            #myChat { 
                background-color: #007bff;
                padding: 0px;
                margin: 0px; 
                
              }
              
              #myChat > div > div{ 
                color: white; 
                padding: 5px 0px; 
                line-height: 40px; 
                font-size: 20px;
                font-weight: bolder;    
              }

              @media (max-width:576px) { #myChat > div > div{
                font-size: 15px;
              }
            }

            


            #myChatOpt {
                display: flex;
                align-items: stretch;
                background-color: #f1f1f1;
                z-index: 1;
                margin-bottom: 30px;
                visibility: hidden;
              }
              
              #myChatOpt > div {
                background-color: white;
                /* background-color: #007bff; */
                color: #007bff;
                /* color: white; */
                /* font-weight: lighter; */
                /* width: 100px; */
                /* margin: 10px; */
                padding: 10px;
                text-align: center;
                /* line-height: 50px; */
                font-size: 18px;
                border-bottom: 1px solid rgba(66, 66, 66, 0.199);
              }

              @media (max-width:767px) { #myChatOpt > div{ 

                font-size: 15px;
            }
            }

#clsearchbox ,#clsearch2 ,#clclose{
    /* max-height: 30px; */
    /* justify-content: flex-start; */
    /* text-align: left; */
    display: none;
}            
 
 #searchbar{
    max-height: 25px;
    /* margin: 0px; */
    padding: 0px;
    /* color: white; */
    /* border-radius: 0px; */
    /* padding: 8px; */
    /* margin: 5px; */
    float: left;
    border: none;
    outline: none;
    color: #007bff;
    /* border-bottom: 1px solid white; */
}

input[type=text] {
    width: 100%;
    border: none;
    outline: none;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
}
 

/* Chat containers */
.chatDiv{
    /* height: 600px; */
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    /* margin-top: 80px; */
}

.msgDiv{
    /* background-color: rgb(83, 83, 255); */
    /* height: auto; */
    margin-bottom: 60px;
    /* height: 100%; */
    /* text-align: center; */
    overflow: auto;
}

.msgContainer {
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
/* background-color: green; */
/* width: 70%; */
/* width: max-content; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* margin: 10px 0; */
}


ul{
    /* list-style: none;
    margin: 0;
    padding: 0; */
  }
  
  .msgContainer{
    /* background-color: green; */
    /* width: max-content; */
    max-width: 75%;
    text-align: left;
    word-wrap: break-word;
    display:inline-block;
    clear: both;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .him{
    background: #eee;
    float: left;
  }
  
  .me{
    float: right;
    background: #0084ff;
    color: #fff;
  }
  
  .him + .me{
    border-bottom-right-radius: 5px;
  }
  
  .me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .me:last-of-type {
    border-bottom-right-radius: 30px;
  } 

  .msgContainer p{
      /* text-align: right; */
    /* background-color: yellow; */
    margin: 0px;
    /* max-width: auto; */
    /* width: max-content; */
    /* width:10px auto; */
}



#writesendmsg{
    /* background-color: orange;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0; */
}

#writesendmsg {
    display: flex;
    align-items: stretch;
    background-color: white;
margin: 0px;
padding: 0px;
/* padding: 0px 15px; */
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;  
    border-top: 1px solid rgba(66, 66, 66, 0.199);
    /* z-index: 100; */
    /* margin-bottom: 30px; */
    /* visibility: hidden; */
  }
  /* @media (min-width:768px) {#writesendmsg{ 
    
   padding:  0px 10%;
  }
  }
  @media (min-width:992px) {#writesendmsg{ 
    
    padding:  0px 18%;
   }
   }
   */
  
  #writesendmsg > div > div {
    /* background-color: white; */
        /* background-color: orange;    */
    /* background-color: #007bff; */
    color: #007bff;
    /* color: white; */
    /* font-weight: lighter; */
    /* width: 100px; */
    margin: 0px;
    padding: 10px 0px;
    /* text-align: center; */
    /* line-height: 50px; */
    font-size: 20px;
    border: none;
    outline: none;
    /* border-top: 1px solid rgba(66, 66, 66, 0.199); */
  }

  @media (max-width:767px) { #writesendmsg > div > div { 

    font-size: 17px;
}
}

  #writemsg {
      width: 85%;
float: left;
  }
  #sendmsg{
    width: 15%;
      float: right;
  }
/* Darker chat container */
/* .darker {
    border-color: #ccc;
    background-color: #ddd;
} */

/* Clear floats */
.container::after {
    /* content: "";
    clear: both;
    display: table; */
}

/* Style images */
/* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
} */

/* Style the right image */
/* .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
} */

/* Style time text */
/* .time-right {
    float: right;
    color: #aaa;
} */

/* Style time text */
/* .time-left {
    float: left;
    color: #999;
} */
 
            






#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; background-color: #fff; z-index: 99}

/* #loading-image {position: absolute;top: 45%; left: 45%; z-index: 100}  */
#loading-image {
    position: fixed;
    z-index: 99;
    /* height: 2em; */
    /* width: 2em; */
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @media (max-width:767px) {#loading-image{ 
    
   height: 2em;
    width: 2em;
 }
 }            